# See https://docs.github.com/en/repositories/managing-your-repositories-settings-and-security/customizing-your-repository/about-code-owners

* @SolaceProducts/dax-developers

# Already covered by the catch-all above; listed explicitly because the hooks here
# are installed into the hooks directory and run on a contributor's machine, so a
# diff here is a code-execution surface and warrants reading as one. The bar for
# what may live here is in .githooks/README.md.
/.githooks/ @SolaceProducts/dax-developers
